*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.return_eq
{
    top: 100px;
    font-family: TommySoft_Black;
    background-color: 	#F5F5F5	;
    position: absolute;
    height: 50%;
    width: 55%;
    text-align: center;
    line-height: 180%;
    height: 96%;
    margin-top: 2%;
}

@media (min-width: 1701px)
{
    .return_eq
    {
        font-size: 50px;
    }
}

@media (max-width: 1700px)
{
    .return_eq
    {
        font-size: 40px;
    }
} 

@media (max-width: 1200px)
{
    .return_eq
    {
        font-size: 30px;
    }
} 

@media (max-width: 640px)
{
    .return_eq
    {
        font-size: 20px;
    }
}