*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: TommySoft_BlackOutline;
    src:url("../fonts/TommySoft/MADE Tommy Soft Black Outline.otf");

    font-family: TommySoft_Black;
    src:url("../fonts/TommySoft/MADE Tommy Soft Black.otf")
}

.topNavBar
{
    background:	#1a1a1a;
    height: 100px;
    width: 100%;
}

.topNavBar input
{
    float: right;
    margin: 30px 20px 0px 20px;
    padding: 10px 10px;
}

.navBarRight a
{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 20px 40px 20px;
    text-decoration: none;
    font-size: 17px;
    width: 100px;
}

.navBarLogoTop
{
    float: left;
    color: #bfd37a;
    text-align: center;
    padding: 20px 20px 17px 20px;
    text-decoration: none;
    font-size: 50px;
    font-family: TommySoft_Black;
}

.navBarLogoBottom
{
    float: left;
    color: #bfd37a;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 100px;
    font-family: TommySoft_Black;
    z-index: 10;
    position: relative;
    top: -550px;
}

.PhotoTop img
{
    max-width: 100%;
    position: relative;
    z-index: -1;
}

.ParagraphBottom
{
    height: 600px;
    width: 100%;
    background: #bfd37a;
    color: 	#234257;
    text-align: center;
}

.ParagraphBottom svg
{
    position: relative;
    display: block;
    top: -500px;
}

.ParagraphBottom svg
{
    position: relative;
    display: block;
    top: 450px;
}

.ParagraphMid
{
    height: 500px;
    width: 100%;
    background: #ffff;
    color: 	#234257;
    text-align: center;
}

.ParagraphMid svg
{
    position: relative;
    display: block;
    top: 200px;
}





.navBarRight a:hover
{
    background:	#d0e6a6;
    color: #1a1a1a;
    font-weight: bold;
    text-decoration: underline;
}



.about{
    padding: 20px;
    font-size: 20px;
    color: black;
    width: 40%;
    height: 300px;
    margin: auto;
    background-color: #d0e6a6;
    opacity: 0.85;
    position: absolute;
    border-radius: 25%;
    padding: 50px;
    line-height: 35px;
    
}


.container{
    display: flex;
    flex-direction: row;
    
}



.box{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 33%;
    font-family: TommySoft_Black;
    font-size: 50px;
    background-color: #d0e6a6;
    text-decoration: none;
    text-align: center;
    color: black;
    border: solid 1px white;
}



.box:hover{
    opacity: 0.8;
}


#one{
    order: 1;
}


#two{
    order: 2;
}


#three{
    order: 3;
}


#four{
    order: 1;
}


#five{
    order: 2;
}


#six{
    order: 3;
}