*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: TommySoft_BlackOutline;
    src:url("../fonts/TommySoft/MADE Tommy Soft Black Outline.otf")
}

@font-face
{
    font-family: TommySoft_Black;
    src:url("../fonts/TommySoft/MADE Tommy Soft Black.otf")
}

@font-face
{
    font-family: Tommy_Bold;
    src:url("../fonts/Tommy/MADE TOMMY Bold.otf")
}

@font-face
{
    font-family: Tommy_Med_Outline;
    src:url("../fonts/Tommy/MADE TOMMY Medium Outline.otf")
}

.topNavBar
{
    background:	#1a1a1a;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 100000;
}

.topNavBar input
{
    border-style:solid;
    border:none;
    float: right;
    margin: -15px 20px 0px 20px;
    padding: 10px 10px;
    border-radius: 10px;
}

#about
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 30px;
    padding-bottom: 20px;
}

#students
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
    padding-bottom: 20px;
}

#staff
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
}

.navBarRight li
{
    text-decoration: none;
    float: right;
    width: 200px;
    line-height: 45px;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

.navBarRight li a
{
    text-decoration: none;
    color: white;
    background-color: #1a1a1a;
    display: block;
}

#rent
{
    margin-top: 30px;
}

#team
{
    margin-top: 30px;
}

.navBarRight li a:hover
{
    background-color: #bfd37a;
}

ul li ul li
{
    display: none;
}

ul li:hover ul li
{
    display: block;
}

.navBarLogoTop
{
    float: left;
    color: #bfd37a;
    text-align: center;
    padding: 20px 20px 17px 20px;
    text-decoration: none;
    font-size: 50px;
    font-family: TommySoft_Black;
}

.rent_eq{
    top: 100px;
    font-family: TommySoft_Black;
    background-color: 	#F5F5F5	;
    position: absolute;
    height: 50%;
    width: 55%;
    text-align: center;
    line-height: 180%;
    height: 50%;
    margin-top: 2%;
}

#choose_equipment{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    padding: 10px 50px 10px 10px;
    background-color: #d0e6a6;
    border-radius: 4px;
    margin: auto;
}

#submit_btt{
    color: white;
    border-radius: 4px;
    background-color: grey;
    font-size: 20px;
    padding: 5px;
    border: 0;
    vertical-align: bottom;
}

@media (min-width: 1701px){
    .rent_eq{
        font-size: 50px;
    }
}

@media (max-width: 1700px){
    .rent_eq{
        font-size: 40px;
        
    }
    
} 

@media (max-width: 1200px){
    .rent_eq{
        font-size: 30px;
    }
    .navBarRight{
        display: none;
    }
} 


@media (max-width: 640px){
    .rent_eq{
        font-size: 20px;
    }
    .navBarRight{
        display: none;
    }
} 
