*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.rent_eq
{
    top: 100px;
    font-family: TommySoft_Black;
    background-color: 	#F5F5F5	;
    position: absolute;
    height: 50%;
    width: 55%;
    text-align: center;
    line-height: 180%;
    height: 50%;
    margin-top: 2%;
}

#choose_equipment
{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    padding: 10px 50px 10px 10px;
    background-color: #d0e6a6;
    border-radius: 4px;
    margin: auto;
}

#submit_btt
{
    color: white;
    border-radius: 4px;
    background-color: grey;
    font-size: 20px;
    padding: 5px;
    border: 0;
    vertical-align: bottom;
}

@media (min-width: 1701px)
{
    .rent_eq
    {
        font-size: 50px;
    }
}

@media (max-width: 1700px)
{
    .rent_eq
    {
        font-size: 40px;
    }
} 

@media (max-width: 1200px)
{
    .rent_eq
    {
        font-size: 30px;
    }
}

@media (max-width: 640px)
{
    .rent_eq
    {
        font-size: 20px;
    }
}