{% extends 'main.html' %}
{% load static %}

{% block mainblock %}
    <div class="PhotoTop" style="display: flex; justify-content: center;">
        <div class="cr_project" style="height: 96%; margin-top: 2%;">
            <p>CREATE NEW PROJECT</p>
            <form>
                <label for="project_name" class="project_input_label">Project name: </label>
                <input type="text" class="project_input" id="project_name" name="project_name"><br>
                <label for="supervisor_name" class="project_input_label">Supervisor name: </label>
                <input type="text" class="project_input" id="supervisor_name" name="supervisor_name"><br>

                <legend class="project_input_label">Number of team members:</legend>
                <select id="no_team_members">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <input type="submit" value="Submit" id="submit_btt">
            </form>


        </div>
        <img src="{% static 'img/BackgroundMainCropped.png' %}" alt="Desaturated UA photo 1920x1080">

    </div>

{% endblock %}