<div class="topNavBar">
    <a class="navBarLogoTop" href="./index.html">WIKI</a>
    <ul class="navBarRight">
        <li><input type="text" placeholder="Search..."></li>
        <li id="about"><a href="./about.html">About</a>
            <ul>
                <li id="team"><a>Our Team</a></li>
                <li><a>Resources</a></li>
            </ul> 
        </li>
        <li id="students"><a href="./student.html">Students</a>
            <ul>
                <li id="rent"><a href="./return_equipment.html">Rent</a></li>
                <li><a href="./return_equipment.html">Return</a></li>
                <li><a href="./create_project.html">Create Project</a></li>
                <li><a href="#">My Projects</a></li>
                <li><a href="#">Database</a></li>
            </ul>
        </li>
        <li id="staff"><a href="#">Staff</a></li>
    </ul>
</div>