{% extends 'main.html' %}
{% load static %}
{% block mainblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/Style_ReturnEq.css' %}">
    <div class="PhotoTop" style="display: flex; justify-content: center;">
        <div class="return_eq" style="height: 96%; margin-top: 2%;">
            <p>RETURN EQUIPMENT</p>
            <p style="font-family: Arial, Helvetica, sans-serif;">Your equipment:</p>


        </div>
        <img src="{% static 'img/BackgroundMainCropped.png' %}" alt="Desaturated UA photo 1920x1080">

    </div>
{% endblock %}
