{% extends 'main.html' %}
{% load static %}
{% block mainblock %}
    <link rel="stylesheet" href="{% static 'css/Style_Team.css' %}" type="text/css">
    <script src="{% static 'js/pieChart.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <div class="container">
            <div class="people">
                <div class="person">
                    <img src="{% static 'img/Vinicius.png' %}" alt="Photo of Vinivius"/>
                    <div class="info_l">
                        <span>Vinícius Benite</span>
                        <p>I am a brazilian student, doing the entire graduation in Aveiro University. This project was a good opportunity to work in a team and develop interpersonal skills. I was responsible for creating the API, remodeling the database and for taking care of the continuous integration and deployment of the project.
                        </p>
                    </div>
                </div>
                <div class="person">
                    <div class="info_r">
                        <span>Mateusz Roganowicz</span>
                        <p>I am Erasmus student from Lodz University of Technology, Poland I study computer science. During the whole semester I was working on development of the front end of our project. Developing the project was a great lesson, I learned a lot mostly in terms of front end programming, but also I honed team work and time management skills.</p>
                    </div>
                    <img src="{% static 'img/Mateusz.jpg' %}" alt="Photo of Mateusz"/>
                </div>
                <div class="person">
                    <img src="{% static 'img/Jakub.png' %}" alt="Photo of JAkub"/>
                    <div class="info_l">
                        <span>Jakub Sztompka</span>
                        <p>Description (our team) :
                            I am a Polish informatics student from Łódź. During the project I was responsible for the front-end part
                            of the web page. I like teamwork and in my opinion the best way to solve the problem is to gather and think
                            it through together. Through the development process I enjoyed working with the team and learned a lot
                            concerning widely known Front-end development. From the design through prototyping to working with the API
                            and maintaining the pages.</p>
                    </div>
                </div>
                <div class="person">
                    <div class="info_r">
                        <span>Bernardo Rodriguez</span>
                        <p>Portuguese informatic engineering student in my hometown University of Aveiro. I worked on development of the backend side of the project. Throughout the project I learned how to work with new technologies and software but most important I was to improve crucial teamwork, communication and management skills with my team.</p>
                    </div>
                    <img src="{% static 'img/Bernardo.jpg' %}" alt="Photo of Bernardo"/>
                </div>
                <div class="person">
                    <img src="{% static 'img/Miguel.jpg' %}" alt="Photo of Miguel"/>
                    <div class="info_l">
                        <span>Miguel Matos</span>
                        <p>I am a student of Engenharia Informática of Universidade de Aveiro since 2017/18. I worked during this semester in the development of the DETI Makerlab project. It was an important experience where I could not only learn more about how to work as a team and improve time management skills, but also deepen my knowledge in computer science technologies and software.</p>
                    </div>
                </div>
                <div class="person">
                    <div class="info_r">
                        <span>Diogo Gomes</span>
                        <p>Professor Gomes was the supervisor of the project. Each part of the job was done under his vigilant eye.
When the team needed help, our supervisor was meeting with us and together we tried to resolve any problem.
Each time he spotted a mistake, professor Gomes navigated us towards the right path.</p>
                    </div>
                    <img src="{% static 'img/Diogo.png' %}" alt="Photo of Diogo"/>
                </div>
            </div>
        </div>

{% endblock %}